* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: black;
  color: yellow;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 30vw; */
  background: linear-gradient(365deg, rgb(17, 17, 87), rgb(38, 64, 109));
  color: white;
  flex-direction: column;
}

.btns {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 30px;
  height: auto;
  gap: 15px;
  display: flex;
  /* align-items: flex-start;
  justify-content: space-between; */
}

.btns button {
  border: none;
  font-size: 25px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

#light {
  animation: sun 15s infinite;
}
@keyframes sun {
  0% {
    transform: rotate(365deg);
  }

  100%{
    transform: rotate(deg);
  }
}

#dark {
  animation: moon 5s infinite alternate;
}
@keyframes moon {
  0%{
    transform: rotate(-40deg);
  }
  100%{
    transform: rotate(5deg);
  }
}

.date {
  font-family: "Saira Stencil", sans-serif;
  width: 35vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  animation: box 15s ease infinite alternate;
}

@keyframes box {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#clock {
  font-size: 5vw;
}

.info {
  display: flex;
  font-size: 2vw;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
  .date {
    display: flex;
    width: 65vw;
    height: 40vw;
    padding: 10px;
  }
  #clock {
    font-size: 9vw;
  }
  .info {
    font-size: 4vw;
  }
  .btns {
    position: absolute;
    right: 100px;
  }
}

@media (max-width: 400px) {
  .btns {
    position: absolute;
    right: 60px;
  }
  .date {
    width: 60vw;
    height: 30vw;
    font-size: 25vw;
  }
  #clock {
    font-size: 8vw;
  }
  .info {
    font-size: 4vw;
  }
}

@media (max-width: 300px) {
  .date {
    width: 80vw;
    height: 40vw;
    font-size: 40px;
  }
}
